body {
  font-family: Roboto, Arial;
  margin-top: 100px;
  padding-top: 0;
}

/* NEEDS MOVING */
.hr-solid {
  border-top: 2px solid black;
  margin: 0;
}

/* Max width > 767px */
@media (max-width: 767px) {
  body {
    margin-top: 200px;
  }
}
