.header {
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
}

.logo {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.header-right {
  width: 370px;
  justify-content: space-between;
}

.header-left {
  flex: 1;
}

.header-left,
.header-right {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.header-name {
  font-size: 20px;
  font-weight: 500;
}
