.welcome {
  text-align: center;
  padding: 0 0 15px 0;
}

.welcome-section-name {
  font-size: 15vw;
}

.welcome-section {
  margin: 20px;
}

.welcome-section-title,
.about-me {
  font-size: 4vw;
}

.welcome-video-section {
  margin: 20px;
}

.welcome-video {
  max-width: 100%;
  height: auto;
}

.welcome-section-name,
.welcome-section-title,
.about-me,
.div-title,
.project-title,
.project-description {
  margin: 0;
}

/* Italic Bold Titles */
.welcome-section-name,
.div-title,
.project-title {
  font-style: italic;
  font-weight: 500;
}

.div-title {
  font-size: 40px;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

.about-me {
  margin: 20px;
  font-size: 20px;
}

/* Projects */
.tag {
  display: inline;
  font-size: 12px;
  padding: 3px;
  margin: 2px;
  background-color: rgb(175, 175, 175);
}

.tags-div {
  margin-top: 10px;
}

/* Desktop */
@media only screen and (min-width: 767px) {
  .welcome {
    padding: 0;
    text-align: justify;
    display: flex;
    margin: 20px;
  }

  .welcome-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
  }

  .welcome-section-name {
    font-size: 100px;
    flex: 0.75;
    display: flex;
    align-items: center;
  }

  .welcome-video-section {
    flex: 1;
  }

  .welcome-section-title,
  .about-me {
    font-size: 20px;
  }

  .about-me {
    text-align: center;
  }

  /* Projects */
  .projects-section {
    margin: 20px 0;
  }

  .project-div {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .video-container {
    width: 420px;
    display: flex;
    margin-right: 20px;
    justify-content: end;
  }

  .project-video {
    max-width: 100%;
  }

  .description-container {
    width: 500px;
  }

  .project-title {
    margin-top: 10px;
    font-size: 15px;
  }

  .project-description {
    margin: 10px 0;
    font-size: 11px;
  }

  .buttons-div {
    display: flex;
    column-gap: 10px;
    width: 350px;
  }

  .link-buttons {
    padding: 6px;
    border: 1px solid black;
    font-size: 14px;
  }
  .link-buttons:visited {
    color: black;
  }

  .link-image {
    margin-right: 5px;
  }

  .link-image,
  .link-title {
    display: inline-block;
    vertical-align: middle;
  }

  .material-symbols-outlined.link-image {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 850px) {
  .project-title {
    font-size: 20px;
  }

  .project-description {
    font-size: 14px;
  }
}
